  body{
    display: flex;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .container{
    width: 50%;
    height: 80%;
    border-radius: 20px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    display: flex;
    flex-direction: column;
    
  }

  .label{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #value{
    border:0;
    outline: 0;
    padding: 5px;
    border-radius: 20px;
    height: 2rem;
    width: 20rem;
    margin-right: 10px;
    font-size: 15px;
  }

  .submit{
    height: 36px;
    background-color: black;
    border-radius: 22px;
    color: white;
    border: none;
    padding: 5px;
    width: 5rem;
    height: 2.7rem;
    cursor: pointer;
  }
  .submit:active{
    background-color: rgb(52, 49, 49);
    color: white;
  }
  .qrcode{
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    height: 60%;
    align-self: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width:600px) {
    body{
      height: 100vh;
    }
    h1{
      margin-top: 4vh;
    }
    h2{
      font-size: 4.5vw;
    }
    .container{
      width:100%;
      height: 100vh;
      border-radius: 0px;
    }
    .qrcode{
      height: 40%;
      width: 90%;
    }
    .submit{
      margin-top: 2vh;
    }
    .label{
      width: 2vh;
      font-size: 3vh;
      margin-left: 1vw;
    }

    #value{
      width: 50%;
      padding: 1vw 2vw;
    }
  }